.category-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 20px;
	row-gap: 50px;
}

.category-title {
	// font-size: 38px;
	margin-bottom: 25px;
	text-align: center;
	flex: 1;
}

.category-container-header {
	display: flex;
	align-items: center;
}

.space {
	flex: 1;
}

.back-button {
	flex: 1;

	&:hover {
		cursor: pointer;
	}
}
